* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header-container {
  width: 100%;
  height: 110px;
  background-color: #f55a5a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 100px;
}

.world-logo {
  height: 48px;
}

.header-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28.9216px;
  line-height: 18px;
  letter-spacing: -0.075em;
}

.card-container {
  max-width: 65%;
  display: flex;
  align-items: center;
  margin: 0 auto 60px auto;
  gap: 38px;
}

.card-image {
  width: 250px;
  height: 336px;
  left: 40px;
  top: 100px;
  border-radius: 5px;
}

.location-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.location-ping {
  width: 14px;
  height: 19.1px;
}

.location-state {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20.48px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2b283a;
}

.google-map {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20.48px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918e9b;
}

.location-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 30px;
  margin: 0;
  color: #2b283a;
}

.date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20.48px;
  line-height: 12px;
  margin-bottom: 10px;
  color: #2b283a;
}

.description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17.48px;
  line-height: 150%;
  color: #2b283a;
}

@media screen and (max-width: 995px) {
  .card-container {
    max-width: 85%;
  }
  .location-state {
    font-size: 10.24px;
  }

  .google-map {
    font-size: 10.24px;
  }

  .location-title {
    font-size: 25px;
  }

  .date {
    font-size: 10.24px;
  }

  .description {
    font-size: 12.74px;
  }
  .card-image {
    width: 200px;
    height: 268.8px;
  }
}

@media screen and (max-width: 575px) {
  .header-container {
    margin-bottom: 50px;
  }

  .card-container {
    margin: 30px auto;
    max-width: 85%;
    flex-direction: column;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
  }
  .location-container {
    margin: 10px 0;
  }
  .location-state {
    font-size: 20.24px;
    margin: 0;
  }

  .google-map {
    font-size: 14.24px;
  }

  .location-title {
    font-size: 30px;
  }

  .date {
    font-size: 12.24px;
  }

  .description {
    font-size: 14.74px;
  }
  .card-image {
    width: 100%;
    height: 500px;
  }
}
